.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Calculator */

.Calculator .key{
  @apply bg-cal_tertiary_bg rounded-xl p-4;
}

.Calculator .key:hover{
  @apply shadow-[inset_0_35px_60px_-15px_rgba(0,0,0,0.3)];
}

.Calculator .operator{
  @apply text-cal_red
}

.Calculator .action{
  @apply text-cal_green
}
